$menu-height: 2rem;

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.ui-container {
  width: 200px;
  height: 350px;
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.ui-info {
  width: 100%;
  height: calc(100% - #{$menu-height});
}

.ui-controls {
  height: $menu-height;
  width: 100%;
  background: red;
}

.spinner-container {
  position: relative;
  width: 100%;
  left: -200px;
  -webkit-transform: rotate(120deg);
  height: 100%;
  transform-origin: center;
}

.spinner-chip {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#spinner1 {
  background: purple;
  transform: rotate(0deg) translate(200px) rotate(0deg);
}
#spinner2 {
  background: blue;
  transform: rotate(120deg) translate(200px) rotate(0deg);
}
#spinner3 {
  background: grey;
  transform: rotate(240deg) translate(200px) rotate(0deg);
}
