$menu-height: 2rem;

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.ui-container {
  width: 200px;
  height: 350px;
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.ui-info {
  width: 100%;
  height: calc(100% - #{$menu-height});
}

.ui-controls {
  height: $menu-height;
  width: 100%;
  background: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.spinner-container {
  position: relative;
  width: 100%;
  left: -200px;
  -webkit-transform: rotate(0deg);
  height: 100%;
  transform-origin: center;
  transition: transform 1s ease-in;
  z-index: -1;
}

.spinner-chip {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

.spinner-decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  z-index: -1;
  transform: translate(-50%, -50%);
  &.decoration2 {
    transform: translate(-45%, -45%);

  }
  &.decoration3 {
    transform: translate(-55%, -55%);

  }
}

#spinner1 {
  background: purple;
  transform: rotate(0deg) translate(200px) rotate(0deg);
}
#spinner2 {
  background: blue;
  transform: rotate(240deg) translate(200px) rotate(0deg);
}
#spinner3 {
  background: grey;
  transform: rotate(120deg) translate(200px) rotate(0deg);
}
